{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/babel",
        "prettier/react"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": { "browser": true, "node": true, "es6": true },
    "parserOptions": {
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": ["error"],
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0
    }
}
